body{
    margin: 0;
    height: 100hv;
}
h1{
    text-align: center;
    margin-bottom: -50px;
}
.outer--calculator{
    padding-top: 30px;
    height: 450px;
    max-height: 450px;
    max-width: 350px;
    margin: 70px auto;
    border-radius: 15px;
    background-color: rgb(59, 58, 58);
}
.screen{
    /* margin-top: 50px; */
    border-radius: 15px;
    margin-left: 25px;
    height: 75px;
    width: 300px;
    background-color: rgb(199, 199, 149);
    font-weight: bold;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.screen-font{
    font-family: 'Big Shoulders Display', cursive;
    text-align: end;
    font-size: 60px;
    width: 300px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(199, 199, 149);
}
.number, .sign{
    height: 60px;
    width: 60px;
    background-color: rgb(138, 138, 130);
    text-align: center;
    color: white;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.number:hover{
    background-color:brown;
}
.sign:hover{
    background-color:brown;
}
.equale:hover{
    background-color: lightseagreen;
}
.row{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 25px;
}
.ones{
    margin-top: 40px;
}
.equale{
    background-color: brown;
}
.divide, .multiply, .minus, .add{
    background-color: lightseagreen;
}



/* javascript style */
.cookie-message{
    text-align: center;
    background-color:  brown;
    width: 100%;
    height: 50px;
    font-size: larger;
}
.btn-close-cookies{
    width: 10%;
    height: 35px;
    border-radius: 15px;
    background-color: rgb(243, 247, 246);
    font-weight: bold;
}
.btn-close-cookies:hover{
    background-color: lightseagreen;
}
